# Default ignored files
/shelf/
/workspace.xml
*.class
# Datasource local storage ignored files
/../../../../../../../../:\Users\God_F\Google Drive\Coding\udemy_courses\java-the-complete-java-developer-course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
